/* ejercicio2a.css :: HC15005 */
pais {
    background-color: #033;
    font-family: sans-serif;
}
departamento {
    display:block;
    padding: 0.5em;
}
cabecera {
    background-image: linear-gradient(270deg, #033 0%, #096 50%, #033 100%);
    text-align: center;
    color:gold;
    display:block;
}
habitantes, altura, area {
    text-align: center;
    color:darkseagreen;
    display:block;
}
